*
!/ammo/
!/ammo/*.*
!/ammo/images
!/ammo/templates
!/images
!/lang
!/list/
!/list/*.*
!/list/images
!/list/lang
!/player/
!/player/*.*
!/player/images
!/player/templates
!/templates
!/*.js
!/*.html
!/*.css
*.txt
*.php