body {
font-family: arial;
word-wrap: break-word;
background-color: #cbcbcb;
color: #000000;
font-size: 16px;
max-width:100%;
padding: 0px 2px;
margin: 0;
}

@media (min-width:800px){
body {
font-family: arial;
word-wrap: break-word;
background-color: #cbcbcb;
color: #000000;
font-size: 20px;
max-width:600px;
margin: auto;
padding: 0px 2px;
}
}

hr{
background-color: #808080;
border:none;
height:1px;
}
a{
color: #3593da;
text-decoration: none;
}
a:visited {
color: #55acee;
text-decoration: none;
}



a.social{
display: inline-block;
position: relative;
width: 100%;
text-decoration: none;
color: #000000;
border-radius: 4px;
overflow: hidden;
margin-bottom: 4px;
background-color: #f9f9f9;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
img.icon{
display: inline-block;
width: 48px;
height: 48px;
margin: 6px;
}

div.textButton{
display: inline-block;
position: absolute;
padding: 18px 9px;
}

div.titlePage{
color: #cccccc;
display: inline-block;
position: relative;
width: 100%;
text-decoration: none;
border-radius: 4px;
overflow: hidden;
margin: 10px 0px 4px 0px;
background-color: #1b1b1b;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

div.block{
display: inline-block;
width: 100%;
background: white;
overflow: hidden;
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}


img.logo{
margin: 6px;
width: 96px;
height: 96px;
border-radius: 10px;
}
div.textLogo{
display: inline-block;
position: absolute;
margin: 6px;
}
font.title{
display: block;
margin-top: 12px;
font-size: 36px;
}
font.dooble{
color: #ffffff;
}

font.info{
color: #929292;
font-weight: bold;
text-align: right;
float:right;
padding: 18px;
}


a.button {
display: inline-block;
margin: 2px;
padding: 8px 12px;
border-radius: 3px;
text-decoration: none;
cursor: pointer;
background-color: #f9f9f9;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

img.iconButton{
vertical-align: middle;
margin-right: 5px;
width: 24px;
height: 24px;
}

img.banner{
width: 512px;
max-width: 100%;
}

/**ВКЛАДКИ*/
div.tabs{
margin:auto;
width:600px;
display: table;
}
.tab {
display: inline-block;
padding: 10px 16px;
cursor: pointer;
position: relative;
z-index:5;
border-radius: 6px 6px 0 0;
color: #000000;
}
.tabHide {
background-color:#ffffff;
margin-right: 6px;
}
.tabActive {
background-color:#e9e9e9;
margin-right: 6px;
}
div.tabContent{
background-color: #e9e9e9;
padding: 6px;
}
div.hide {
display: none;
}
div.show {
display: block;
}

img.iconTab{
width: 24px;
height: 24px;	
vertical-align: -0.2em;
margin-right: 0.4em;
}

.right{
float:right;
text-align:right;
}

input{
font-size: 20px;
}
